[Unit]
Description=Open5GS UDM Daemon
After=network-online.target

[Service]
Type=simple

User=root

Restart=always
ExecStart=/home/vagrant/open5gs/install/bin/open5gs-udmd -c /home/vagrant/open5gs/install/etc/open5gs/udm.yaml
RestartSec=2
RestartPreventExitStatus=1
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
