[Unit]
Description=Open5GS PCF Daemon
Wants=mongodb.service mongod.service

[Service]
Type=simple

User=root

Restart=always
ExecStart=/home/vagrant/open5gs/install/bin/open5gs-pcfd -c /home/vagrant/open5gs/install/etc/open5gs/pcf.yaml
RestartSec=2
RestartPreventExitStatus=1
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
